{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg" style="background-color: #e0e0e0;">
    <div class="container" style="background-color: #e0e0e0;">
        <h2 class="title-page" style="background-color: #e0e0e0;color: BLACK;">Our Agency, <b>{{ property_count }}</b> properties found</h2>
        
    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION INTRO END// ========================= -->
    
    <!-- ========================= SECTION CONTENT ========================= -->
            <div class="agency-container">
                <div class="agency-selectors">
                    <ul class="agency-select">
                        <li><a href="{% url 'agency' %}">All Properties</a></li>
                        <h3>Categories</h3>
                        {% for category in links %}
                            <li><a href="{{ category.get_url }}">{{ category.category_name }}</a></li>
                        {% endfor %}
                    
                        <h3>Locations</h3>
                        <li>Location 1</li>
                        <li>Location 2</li>
                        <li>Location 3</li>
                    </ul>
                  <input class="agency-filter" type="range">
                </div>
                <div class="agency-gallery">  
                  {% for property in properties %}
                  <div class="img-location-agency">
                    <img class="agency-photo" src="{{ property.images.url }}"/>
                    <div class="texto-locations">
                      <h2>{{ property.property_name }}</h2>
                      <p>{{ property.description }}</p>
                      <a href="{{ property.get_url }}">SEE PROPERTY</a>
                    </div>
                  </div>
                  {% endfor %}
                </div>
            </div>
    
    <!-- ========================= SECTION CONTENT END// ========================= -->
    




    
{% endblock %}