{% load static %}
<nav class="navbar">
    <div class="navbar-logo">
      <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="Logotipo"></a>
    </div>
    <div class="navbar-toggle">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="navbar-menu">  
      <ul>
        <li><a class= "menuli" href="{% url 'home' %}">HOME</a></li>
        <li><a class= "menuli" href="#">ABOUT</a></li>
        <li><a class= "menuli" href="{% url 'agency' %}">RENT</a></li>
        <li><a class= "menuli" href="{% url 'home' %}#contacto-seccion">CONTACT</a></li>
      </ul>
    </div>
    
  </nav>
        
            
    