{% extends 'base.html' %}
{% load static %}
	
{% block content %}
<br><br><br>
<h2 style="align-items: center; justify-content: center; text-align: center;">PROPUESTA DE VALOR</h2>
<p style="align-items: center; justify-content: center; text-align: center;">
    <br>Brindarle la facilidad a extranjeros en búsqueda de alquiler de vivienda temporal a mediano
    <br>y largo plazo de tomar viviendas amobladas en arrendamiento en la ciudad de Medellín, a través
    <br>de una plataforma digital que además de verificar las propiedades presencialmente y entregar
    <br>información detallada y audiovisual que contiene imágenes en alta resolución, videos y planos
    <br>del inmueble; se encargue de posibilitar una solución de alquiler para sus usuarios únicamente
    <br>con un respaldo financiero, llámese tarjeta de crédito o débito.
    <br>
    <br>Lo anterior con el fin de que el cliente pueda tomar una decisión de alquiler en minutos desde
    <br>su país de residencia y tenga la capacidad de definir con antelación su situación de alojamiento
    <br>en la ciudad, evitando así tener que visitar inmuebles presencialmente y pasar por estudios de
    <br>seguridad de aseguradoras, inmobiliarias y demás compañías que usualmente entorpecen los procesos
    <br>de arrendamiento en Colombia al solicitar una cantidad considerable de documentos, formularios,
    <br>trámites, deudores y capacidad de endeudamiento.
    <br>
    <br>Plataforma online de alquiler de vivienda amoblada en Medellín que permita a los extranjeros: 
    <br>
    <br>1. Alquilar la propiedad con tan sólo una tarjeta de crédito a un solo click. 
    <br>
    <br>2. Evitar desplazamientos a la ciudad a visitar propiedades. 
    <br>
    <br>3. Eludir estudios de crédito y codeudores.</p>
<br><br><br>



{% endblock %}