
{% extends 'base.html' %}
{% load static %}
	
{% block content %}

<!-- Contenido de la página banner-->
<div class="fondo-main">
    <div class="container-main">
        
        <div class="dibujo-borde-izquierdo">
            <div class=" texto-izquierda-main ">
              Like Your<br>
              <b style="color:#FCE88D">Home </b>
              <br>Anywere <br>
              <a class="linkhome" style="height: 60px;" href="{% url 'home' %}#locations-id">See Locations</a>
             </div>
            
        </div>   
        
        <div class="texto-derecha-main">
          <div class="textos-banner-derecha">
            <span class="spacer"></span>
            <span class="t1">1.</span>
            <span class="t2">SELECT YOUR HOUSE</span>
              <span class="spacer"></span>
            <span class="t1">2.</span>
            <span class="t2">READ TERMS AND CONDITIONS</span>
              <span class="spacer"></span>
            <span class="t1">3.</span>
            <span class="t2">PAY</span>
            <span class="spacer"></span>
          </div>
            
        </div>
        
    </div>
</div>


<!-- Contenido de la página about us-->
<div class="container-mitad">
  <div class="left-conteiner-about">
    <p ><B>ABOUT US</B></p>
    <h1>
    <br>Like your<br>
    <b style="color:#FCE88D">home </b>anywere
    <br>O-hom<br>
    </h1>
    <p>
      Founded in 2007, Sparch is specializing in providing innovative services such as website design, brand 
      identity and marketing.
    </p>
    <a  href="#"><br><b>LEARN MORE</b></a>
    
  </div>
  <div class="right-conteiner-about">
    <img src="{% static 'images/about_us.png'%}" alt="Imagen">
    
  </div>
</div>

<!-- Contenido de la página Servicios-->
<div class="container-mitad" style="margin-top:-10px;">
  <div class="left-conteiner-services">
    <img src="{% static 'images/servicios.png' %}" alt="Imagen">
  </div>
  <div class="right-conteiner-services">
    <p><B>SERVICES</B></p>
    <h1>
      <BR>Thought out<BR> 
      to the smallest<BR> 
      detail
    </h1>
    <p>
      <BR>01.  Logo Design<BR><BR>
      02. Business Card Design<BR><BR>
      03. Stationery Design<BR><BR>
      04. Letterhead Design<BR><BR>
      05. Brouchers<BR>
    </p>
  </div>
</div>


<!-- Contenido de la página Skills-->
<div class="container-skills">
  <div class="container-skills-pares">
  <span class="t1">20+</span>
  <span class="t2">HOUSES AND <BR>APARMENTS</span>
  </div>
  <span class="spacer"></span>
  
  <div class="container-skills-pares">
  <span class="t1">7</span>
  <span class="t2">TALANTED <BR>MANAGERS</span>
  </div>
  <span class="spacer"></span>

  <div class="container-skills-pares">
  <span class="t1">100+</span>
  <span class="t2">SATISFIED<BR>COSTUMERS</span>
  </div>
</div>


<!-- Contenido de la página locations-->
<div id="locations-id" style="background-color: #f5f5f5; height: 40px;align-items: center;margin-top: 100px"></div>
<div style="background-color: #f5f5f5; height: 600px;align-items: center;margin-top: 0px">
<p style="color: black; font-size: 40px; margin-bottom: 40px; text-align: center;"><b>See locations</b></p>


<div class="galeria" >
  <div class="contenedor-locations">
    <div class="img-location">
      <img src="{% static 'images/servicios.png' %}" alt="Imagen 1" />
      <div class="texto-locations">
        <h2>Medellín la ciudad de la eterna primavera</h2>
        <p>Esta es una descripción generica de todos los proyectos que hay en medellin en este momento</p>
        <a href="#">SEE LOCATION</a>
      </div>
    </div>
    <div class="img-location">
      <img src="{% static 'images/servicios.png' %}" alt="Imagen 1" />
      <div class="texto-locations">
        <h2>Medellín la ciudad de la eterna primavera</h2>
        <p>Esta es una descripción generica de todos los proyectos que hay en medellin en este momento</p>
        <a href="#">SEE LOCATION</a>
      </div>
    </div>
    <div class="img-location">
      <img src="{% static 'images/servicios.png' %}" alt="Imagen 1" />
      <div class="texto-locations">
        <h2>Medellín la ciudad de la eterna primavera</h2>
        <p>Esta es una descripción generica de todos los proyectos que hay en medellin en este momento</p>
        <a href="#">SEE LOCATION</a>
      </div>
    </div>
    <div class="img-location">
      <img src="{% static 'images/servicios.png' %}" alt="Imagen 1" />
      <div class="texto-locations">
        <h2>Medellín la ciudad de la eterna primavera</h2>
        <p>Esta es una descripción generica de todos los proyectos que hay en medellin en este momento</p>
        <a href="#">SEE LOCATION</a>
      </div>
    </div>
    <div class="img-location">
      <img src="{% static 'images/servicios.png' %}" alt="Imagen 1" />
      <div class="texto-locations">
        <h2>Medellín la ciudad de la eterna primavera</h2>
        <p>Esta es una descripción generica de todos los proyectos que hay en medellin en este momento</p>
        <a href="#">SEE LOCATION</a>
      </div>
    </div>
    <div class="img-location">
      <img src="{% static 'images/servicios.png' %}" alt="Imagen 1" />
      <div class="texto-locations">
        <h2>Medellín la ciudad de la eterna primavera</h2>
        <p>Esta es una descripción generica de todos los proyectos que hay en medellin en este momento</p>
        <a href="#">SEE LOCATION</a>
      </div>
    </div>
    <div class="img-location">
      <img src="{% static 'images/servicios.png' %}" alt="Imagen 1" />
      <div class="texto-locations">
        <h2>Medellín la ciudad de la eterna primavera</h2>
        <p>Esta es una descripción generica de todos los proyectos que hay en medellin en este momento</p>
        <a href="#">SEE LOCATION</a>
      </div>
    </div>
    <div class="img-location">
      <img src="{% static 'images/servicios.png' %}" alt="Imagen 1" />
      <div class="texto-locations">
        <h2>Medellín la ciudad de la eterna primavera</h2>
        <p>Esta es una descripción generica de todos los proyectos que hay en medellin en este momento</p>
        <a href="#">SEE LOCATION</a>
      </div>
    </div>
    <div class="img-location">
      <img src="{% static 'images/servicios.png' %}" alt="Imagen 1" />
      <div class="texto-locations">
        <h2>Medellín la ciudad de la eterna primavera</h2>
        <p>Esta es una descripción generica de todos los proyectos que hay en medellin en este momento</p>
        <a href="#">SEE LOCATION</a>
      </div>
    </div>
  </div>
</div>
</div>

<div class="logos-aliados">
  <img src="{% static 'images/logo-aliado1.png' %}" alt="Logo 1">
  <img src="{% static 'images/logo-aliado2.png' %}" alt="Logo 2">
  <img src="{% static 'images/logo-aliado3.png' %}" alt="Logo 3">
  <img src="{% static 'images/logo-aliado4.png' %}" alt="Logo 4">
</div>


<div class="contacto-seccion" id="contacto-seccion">
	<div class="contacto-col-1" id="contacto-col-1">
		<div class="texto-contacto">
			<h1 style="font-size: 60px; margin-top: -40px;">Contact</h1>
			<p style="margin-top: 50px; color: lightgray;">You'll called for yielding male, so lights Stars abundantly, is their.</p>
			<h2 style="margin-top: 50px;">Medellín Colombia</h2>
			<h2 style="margin-top: 50px;">(+301) 898-0751</h2>
			<p style="margin-top: 50px; color: lightgray;">info@o.homrent.com</p>
		</div>
	</div>
	<div class="contacto-col-2" id="contacto-col-2">
		<form class="formulario-contacto">
      <h1 style="margin-bottom: 50px;">Let's grab a coffee and jump on conversation <b style="color:#FCE88D;">chat with us.</b> </h1>
			
			<input type="text" id="nombre" name="nombre" placeholder="NAME" required >
			
			<input type="email" id="email" name="email" placeholder="EMAIL" required>
			
			<input type="tel" id="telefono" name="telefono" placeholder="TEL" required>
			
			<textarea id="mensaje" name="mensaje" placeholder="MESSAGE" style="resize: none;height: 80px;margin-bottom: 50px;" required></textarea>
			<input type="submit" value="SEND">
		</form>
	</div>
</div>





<!--
	{% for property in properties %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{{ property.get_url }}" class="img-wrap"> <img src="{{ property.images.url }}"> </a>
			<figcaption class="info-wrap">
				<a href="{{ property.get_url }}" class="title">{{ property.property_name }}</a>
				<div class="price mt-1">
					$ {{ property.price }}
					
				</div> 
			</figcaption>
		</div>
	</div>
	
	{% endfor %} 
-->

{% endblock %}
