

{% extends 'base.html' %}
{% load static %}	
{% block content %}

<div class="row">
	{% for property in properties %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="./product-detail.html" class="img-wrap"> <img src="{{ property.images.url }}"> </a>
			<figcaption class="info-wrap">
				<a href="./product-detail.html" class="title">{{ property.property_name }}</a>
				<div class="price mt-1" type="number">
					<meta itemprop="priceCurrency" content="USD" />$
					<data itemprop="price" >{{ property.price }}</data>
					
				</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %}
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->





</body>
</html>

{% endblock %}